.content-home{
    position: relative;

    top: 7rem;
    margin: 1rem;
    padding: 1rem;
    left: 2rem;
    right: 1rem;
    gap: 1rem;
    width: calc(100vw - 19rem);
    height: calc(100vh - 9rem);
    border-radius: 18px;
    box-sizing: border-box;
    background: #f5fdf7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content-main{
    display: flex;
    gap: 1rem;
}
.home-div{
    padding: 1rem;
    display: flex;
    gap: 5rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 209, 52, 1);
}
.home-image{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.home-data{
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-align:center;
}