.workout-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.workout-header div {
  font-size: 1.5rem;
  font-weight: 600;
}
.back-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.back-icon:hover {
  transform: scale(1.2);
}
.exercise-name{
  width: 150px;
}
.workout-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

/* Phần thông tin workout */
.workout-form {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: left;
  gap: 2rem;
}

.workout-info {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.workout-info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.workout-info-left span {
  font-size: 1rem;
  font-weight: bold;
}

.workout-info-left img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
.workout-info-left .upload-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #00bb3e;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.workout-info-left .upload-btn:hover {
  background-color: #009c2b;
}
.workout-info-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.standard-text-field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.workout-info-right-mini {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
.workout-info-right-label {
  flex: 1;
}
.component-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.workout-icon {
  width: 28px;
  height: 28px;
}
.standard-text-field textarea {
  resize: none;
  min-height: 100px;
}
.workout-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.workout-info-item {
  display: flex;
  justify-content: space-between;
}
.upload-section {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.upload-section-img {
  max-width: 100%;
}
.workout-info-done {
  display: flex;
  gap: 1rem;
  justify-content: right;
}
.btn-done{
  background-color: rgba(0, 255, 76, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}